.navHeader {
  display: flex;
  padding: 0 0 0 31px;
  list-style: none;
  margin: 0 66px 0 0;
  justify-content: space-between;
}

.navList {
  display: flex;
  list-style: none;
  gap: 40px;
}

.BookFormat {
  list-style: none;
  font-size: large;
}

.form {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin: 0 40px 0 0;
}
